@import '../../styles/variables.scss';

.projects-container {
  color: white;
  font-family: $font;
  height: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  grid-template-columns: 3;
}

.project {
  // border: 2px solid yellow;
  height: 100%;
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
  }
  a:hover {
    color: aqua;
    transform: scale(1.1);
  }
}
