@import '../../styles/variables.scss';

.welcome-container {
  height: 90%;
  display: flex;
  justify-content: center;
  font-size: $huge;
}

.welcome-txt {
  color: white;
  font-family: $font;
  padding: 20% 0;
  animation: fade 4s linear;
}

@keyframes fade {
  0%,100% {opacity: 0;}
  50% {opacity: 1;}
}
