@import '../../styles/variables.scss';

.about {
  font-family: $font;
  height: 100%;
  background-color: #ddbea9;
  padding: 0 0 5% 0;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-container {
  border: 1px solid white;
  box-shadow: 5px 0px 20px 2px white;
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 15%;
  margin: 4% 0 3% 0;
  p {
    line-height: 3rem;
  }
}


.about-txt-container {
  max-width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: space-around;
  line-height: 1.8rem;
  h1 {
    font-size: $small-font;
    line-height: 6.5rem;
    text-decoration: underline;
  }
  p {
    padding: 2% 0;
    font-size: 1.25rem;
  }
  a {
    text-decoration: none;
    font-weight: bold;
    color: black;
  }
}

.skills {
  font-size: $small-font;
  letter-spacing: 1rem;
  margin-bottom: 3%;
}

.subheader {
  font-family: 'Dancing Script', cursive;
  letter-spacing: 1rem;
  margin-bottom: 1%;
}

.dramatic {
  color: #6b705c;
  font-size: 1.5rem;
}

::selection {
  color: springgreen;
}

.vermont-img {
  width: 70%;
  margin: 1.5% 0;
  border: 1px solid white;
  box-shadow: 5px 0px 20px 2px white;
}