@import '../../styles/variables.scss';

.about {
  height: 70%;
  font-family: $font;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 15%;
}

.about-txt-container {
  height: 80%;
  max-width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: space-around;
  width: fit-content;
  h1 {
    font-size: $small-font;
  }
  p {
    font-size: 1.5rem;
  }
}

.skills {
  color: aqua;
  font-size: $small-font;
  margin-bottom: 5%;
}

.skills-list {
  color: magenta;
}

.subheader {
  color: springgreen;
  animation: spread 5s linear;
  animation-fill-mode: forwards;
  margin-bottom: 2%;
}

.dramatic {
  color: magenta;
}

::selection {
  color: springgreen;
}

img {
  height: 40%;
  border-radius: 5px;
  margin: 1.5% 0;
}

@keyframes spread {
  0% { letter-spacing: 0.2rem }
  100% { letter-spacing: 1rem }
}