@import '../../styles/variables.scss';

.header {
  display: flex;
  justify-content: space-between;
  height: 20%;
  font-family: $font;
  h1 {
    font-size: $large-font;
  }
  h1:hover {
    color: white;
    transition: 0.5s ease-in-out;
  }
  h2 {
    font-size: 2em;
    color: yellow;
  }
  a {
    text-decoration: none;
    color: magenta;
    font-size: $small-font;
  }
  a > p:hover {
    transform: scale(1.2);
    color: white;
    transition: transform 0.28s ease-in-out;
  }
}
.header ::selection {
    color: aqua;
  
}


.header-name-container {
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  justify-content: center;
  height: 100%;
  width: 50%;
}

.header-nav-container {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  a {
    text-decoration: none;
    color: magenta;
  }
}